<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025398049693-md5bptcfjlhilkicu9ins60eul0ujgdk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025398049693-md5bptcfjlhilkicu9ins60eul0ujgdk</string>
	<key>API_KEY</key>
	<string>AIzaSyA-Gn9DPYU2DsV_OnePgtm6QXVL49X4ulU</string>
	<key>GCM_SENDER_ID</key>
	<string>1025398049693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.secit.ahmedsherif.qzapp.quiz</string>
	<key>PROJECT_ID</key>
	<string>my-app-quiz</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app-quiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025398049693:ios:1a2bb4ea49ae3231457d74</string>
</dict>
</plist>